.charts {
  text-align: center;
  position: relative;
  background: rgb(240, 210, 155);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0;
  border: 0.2rem solid rgb(59, 65, 102);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 70%;
  z-index: -1;
}

.typeChart {
  display: flex;
  justify-content: center;
}

.chartTitle {
  background: rgb(59, 65, 102);
  color: rgb(240, 210, 155);
  margin-top: -1rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0 0 1rem 1rem;
  cursor: default;
  position: absolute;
}

.chartTitle:hover {
  margin-top: -0.5rem;
  padding: 1rem;
}

.chart {
  margin: 1rem;
}
